body{
	background:  #fff;	
}

nav{
	background-color: #091951;
	margin: 2px;
}

nav li a.nav-item {
	color: #fff;
	text-align: center;
}

nav ul li a.nav-link {
	color: #fff;
	text-align: center;
	width: 200px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


header li a.dropdown-item{
	text-decoration: none;
	background: #fff;
}

header li a:hover{
	text-decoration: none;
	background: #eae8ff;
	color: blue;
}

header li a.nav-link:hover{
	text-decoration: none;
	color: blue;
	background: #eae8ff;
}

#NavAdministrador ul li a.nav-link{
	color: #FFF;
}

#NavAdministrador ul li a.nav-link:hover{
	color: blue;
}

#MenuLateral ul li a.nav-link{
	color: blue;
}

footer ul li {
	background-color:  #091951;
	display: inline;
	float:left;
	width: 50%;
}

footer ul li a:hover{
	color: #FFF;
}


#copy{
	color: white;
}