
.modal-header {
    padding:9px 15px;
    border-bottom:1px solid orange;
 	background: linear-gradient(#0D2D6D,#0D47A1);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }
 .modal-content
{
	color:white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
   background: linear-gradient(#0D2D6D,#0D47A1);
}
.btn-primary {
  color:white;
  background-repeat: repeat-x;
  background-image: linear-gradient( blue,#604DF1 );
}


 .input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: linear-gradient(#0D2D6D,#0D47A1);
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
.con{
    color: white;
    padding: 50px;
  background: linear-gradient(white, grey);
  min-width: 50px;
}
.co{
    color: white;
    padding: 10px;
  background: linear-gradient(#0D2D6D,#0D47A1);
  min-width: 50px;

}
.alerta{
	color: #F1948A;
  font-weight:bold;
  font-size:11px;
  font-color:white;
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
}
