

#btnDenegarAdmSol {
	margin: 1px;
	text-align: center;
	background: red; 
	padding: 2px;
	width: 55px;
	height: 30px;
	font-size: 12px;
	font-family: sans-serif;
}

#btnAceptarAdmSol {
	margin: 1px;
	text-align: center;
	background: green; 
	padding: 2px;
	width: 50px;
	height: 30px;
	font-size: 12px;
	font-family: sans-serif;
}

#btnImprimir {
	margin: 1px;
	text-align: center;
	padding: 2px;
	width: 50px;
	height: 30px;
	font-size: 12px;
	font-family: sans-serif;
}

.modal-header {
	background: lightgray;
}

.Opcion {
	width: 158px;
}

.thCortas {
	width: 30px;
}
.thMedianas {
	width: 60px;
}

#ImgUTN{
	border: none;
	size: 80px;
}

h5, h3{
	text-align: center;
	font-family: monospace;
}

#titulo{
	color: blue;
	text-align: center;
}


