@media print {
  @page { margin: 0; }
  body { margin: 2cm; }
}

#btnDenegarAdmSol {
	margin: 1px;
	text-align: center;
	padding: 2px;
	width: 40px;
	height: 30px;
	font-size: 12px;
	font-family: sans-serif;
}

#btnAceptarAdmSol {
	margin: 1px;
	text-align: center;
	padding: 2px;
	width: 40px;
	height: 30px;
	font-size: 12px;
	font-family: sans-serif;
}

#btnImprimir {
	margin: 1px;
	text-align: center;
	padding: 2px;
	width: 40px;
	height: 30px;
	font-size: 12px;
	font-family: sans-serif;
	border-color: gray;
}

.modal-header {
	background: lightgray;
}

.Opcion {
	width: 120px;
}

.thCortas {
	width: 15px;
}
.thMedianas {
	width: 60px;
}

#ImgUTN{
	border: none;
	size: 80px;
}

h5, h3{
	text-align: center;
	font-family: monospace;
}

#titulo{
	color: blue;
	text-align: center;
}

textarea {
max-height:79.9%;
min-height:79.9%;
max-width:99.9%;
min-width:99.9%;
border-radius: 0.5em;
border: 1.5px solid lightgray;
}




