*{
	margin: 0px;
	padding:0px;
}

body{
	background:  #eae8ff;
	
}

.ImgEnlaces{
	width: 80px;
	height: 80px;
	margin-left: 20px;

}

#logo{
	float:right;
}

h3{
	text-align: center;
	font-family: monospace;
}


.form-container{
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0px 0px 10px 0px;
}

nav{
	background-color:  	#091951;
	margin: 2px;
	text-align: center;
}

.pull-right {
 float:right
}

 li a{
color: #fff;

}

 nav li a.nav-item {
color: #fff;
text-align: center;
}

nav ul li a.nav-link {
color: #fff;
text-align: center;
width: 200px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


header li a.dropdown-item{
	text-decoration: none;
	background: #fff;
}

header li a:hover{
	text-decoration: none;
	background: #eae8ff;
}

header li a.nav-link:hover{
	text-decoration: none;
	color: blue;
	background: #eae8ff;
}

#NavAdministrador ul li a.nav-link{
	color: #FFF;
}

#NavAdministrador ul li a.nav-link:hover{
	color: blue;
}

#MenuLateral ul li a.nav-link{
	color: blue;
}

#tramitesPagina h2{
	text-align: left;
}

footer ul li {
	background-color:  #091951;
	display: inline;
	float:left;
	width: 50%;
}

footer ul li a:hover{
	color: #FFF;
}


#copy{
	color: white;
}

aside, section section, section section article{
	border: 1px solid lightblue;
	border-radius: 5px;
}


