@charset "utf.8";
#ultimas{
  font: 100%/150% Georgia, "Times New Roman", Times, serif;
  float: right; 
}
#filtrar{
 font: 100%/150% Georgia, "Times New Roman", Times, serif;  
}
#tabla {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}
#tabla thead th,
#tabla tfoot th {
  font-weight: bold;
}
#tabla thead th,
#tabla thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}
#tabla thead th:active,
#tabla thead td:active {
  outline: none;
}
#tabla tfoot th,
#tabla tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111;
}
#tabla tbody tr {
  background-color: #ffffff;
}
#tabla tbody tr.selected {
  background-color: #B0BED9;
}
#tabla tbody th,
#tabla tbody td {
  padding: 8px 10px;
}
#tabla.row-border tbody th, #tabla.row-border tbody td, #tabla.display tbody th, #tabla.display tbody td {
  border-top: 1px solid #ddd;
}
#tabla.row-border tbody tr:first-child th,
#tabla.row-border tbody tr:first-child td, #tabla.display tbody tr:first-child th,
#tabla.display tbody tr:first-child td {
  border-top: none;
}
#tabla.cell-border tbody th, #tabla.cell-border tbody td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#tabla.cell-border tbody tr th:first-child,
#tabla.cell-border tbody tr td:first-child {
  border-left: 1px solid #ddd;
}
#tabla.cell-border tbody tr:first-child th,
#tabla.cell-border tbody tr:first-child td {
  border-top: none;
}
#tabla.stripe tbody tr.odd, #tabla.display tbody tr.odd {
  background-color: #f9f9f9;
}
#tabla.stripe tbody tr.odd.selected, #tabla.display tbody tr.odd.selected {
  background-color: #acbad4;
}
#tabla.hover tbody tr:hover, #tabla.display tbody tr:hover {
  background-color: #f6f6f6;
}
#tabla.hover tbody tr:hover.selected, #tabla.display tbody tr:hover.selected {
  background-color: #aab7d1;
}

#tabla.no-footer {
  border-bottom: 1px solid #111;
}
#tabla.nowrap th, #tabla.nowrap td {
  white-space: nowrap;
}
#tabla.compact thead th,
#tabla.compact thead td {
  padding: 4px 17px 4px 4px;
}
#tabla.compact tfoot th,
#tabla.compact tfoot td {
  padding: 4px;
}
#tabla.compact tbody th,
#tabla.compact tbody td {
  padding: 4px;
}
#tabla th.dt-left,
#tabla td.dt-left {
  text-align: left;
}
#tabla th.dt-center,
#tabla td.dt-center,
#tabla td.dataTables_empty {
  text-align: center;
}
#tabla th.dt-right,
#tabla td.dt-right {
  text-align: right;
}
#tabla th.dt-justify,
#tabla td.dt-justify {
  text-align: justify;
}
#tabla th.dt-nowrap,
#tabla td.dt-nowrap {
  white-space: nowrap;
}
#tabla thead th.dt-head-left,
#tabla thead td.dt-head-left,
#tabla tfoot th.dt-head-left,
#tabla tfoot td.dt-head-left {
  text-align: left;
}
#tabla thead th.dt-head-center,
#tabla thead td.dt-head-center,
#tabla tfoot th.dt-head-center,
#tabla tfoot td.dt-head-center {
  text-align: center;
}
#tabla thead th.dt-head-right,
#tabla thead td.dt-head-right,
#tabla tfoot th.dt-head-right,
#tabla tfoot td.dt-head-right {
  text-align: right;
}
#tabla thead th.dt-head-justify,
#tabla thead td.dt-head-justify,
#tabla tfoot th.dt-head-justify,
#tabla tfoot td.dt-head-justify {
  text-align: justify;
}
#tabla thead th.dt-head-nowrap,
#tabla thead td.dt-head-nowrap,
#tabla tfoot th.dt-head-nowrap,
#tabla tfoot td.dt-head-nowrap {
  white-space: nowrap;
}
#tabla tbody th.dt-body-left,
#tabla tbody td.dt-body-left {
  text-align: left;
}
#tabla tbody th.dt-body-center,
#tabla tbody td.dt-body-center {
  text-align: center;
}
#tabla tbody th.dt-body-right,
#tabla tbody td.dt-body-right {
  text-align: right;
}
#tabla tbody th.dt-body-justify,
#tabla tbody td.dt-body-justify {
  text-align: justify;
}
#tabla tbody th.dt-body-nowrap,
#tabla tbody td.dt-body-nowrap {
  white-space: nowrap;
}

#tabla,
#tabla th,
#tabla td {
  box-sizing: content-box;
}
